extends layout

block content
  h1 Welcome to the Greeter Machine

  form(method='POST', action='/greetings')
    label(for='name') My name is
    input#name(type='text', name="name")
    button(type='submit') Greeting

  hr

  form(method='POST', ref='uploadForm' id='uploadForm' action='/uploads' encType='multipart/form-data')
    input#sampleFile(type='file', name="sampleFile")
    input(type='submit' value='Upload!')

